<div style="margin-left:30px">
  <%= if @type == "list" do %>
    <input type="button" value="地图显示">
    <%= render "list.html", orders: @orders, conn: @conn %>
  <% else %>
    <input type="button" value="列表显示">
    <%= render "map.html", orders: @orders, conn: @conn %>
  <% end %>
</div>
