<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello GoodsManage!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/jquery-3.1.0.min.js") %>"></script>
  </head>

  <body>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <% account = Dict.get(assigns, :account) %>
      <h4  style="margin-left:20px"><%= account.account %></h4>
      <h5  style="margin-left:20px"><%= account.uuid %></h5>

      <div  style="display:flex;flex-direction:row;margin-left:20px;margin-right:20px">

        <div  style="border:1px solid black;flex-basis:150px">
          <p  style="background-color:#0099FF;color:#FFFFFF">工单管理</p>
          <a  href="/orders">导入工单</a><br />
          <a>未按装</a><br />
          <a>已安装</a><br /><br />
          <p  style="background-color:#0099FF;color:#FFFFFF">安装队管理</p>
          <a>安装对列表</a><br /><br />
          <p  style="background-color:#0099FF;color:#FFFFFF">帐号管理</p>
          <a>帐号信息</a><br />
          <a>修改密码</a><br />
        </div>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>

      </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
